.app-search-bar {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;

    border: 2px solid #b8bbc1;
    border-radius: 5px;

    padding: 0 12px;
    gap: 12px;
}


.app-search-input {
    border: none;
    background: transparent;
    box-shadow: none;
    font-size: 14px;
}

.app-search-input:focus {
    box-shadow: none;
}

.app-search-icon {
    color: #9ca3af;
    font-size: 18px;
}

.app-search-actions {
    gap: 10px;
}

.app-icon-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 8px;
    background-color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-notify-dot {
    width: 7px;
    height: 7px;
    background-color: #ef4444;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 6px;
}

.app-avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}
.app-search-input:focus,
.app-search-input:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
