<nav class="navbar bg-white px-3">
    <div class="d-flex align-items-center w-100 gap-3">

        <!-- Search -->
        <div class="app-search-bar d-flex align-items-center flex-grow-1">

            <i class="fa-solid fa-magnifying-glass app-search-icon"></i>

            <input type="text" class="form-control app-search-input" placeholder="Search (Ctrl + /)" />

            <div class="d-flex align-items-center app-search-actions ms-auto">

                <button class="btn app-icon-btn">AR</button>

                <button class="btn app-icon-btn">
                    <i class="fa-regular fa-sun"></i>
                </button>

                <button class="btn app-icon-btn position-relative">
                    <i class="fa-regular fa-bell"></i>
                    <span class="app-notify-dot"></span>
                </button>

                <div class="dropdown">
                    <img src="https://i.pravatar.cc/40" class="rounded-circle dropdown-toggle app-avatar"
                        data-bs-toggle="dropdown" />
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item">Profile</a></li>
                        <li><a class="dropdown-item">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger">Logout</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</nav>