.stats-table-container {
    height: 100%;
}

.table-responsive {
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f9fafb;
    border-bottom: 2px solid #eee;
}

thead th {
    color: #6b7280;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    border: none;
}

tbody tr {
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

tbody tr:hover {
    background-color: #f9fafb;
}

tbody td {
    color: #374151;
    vertical-align: middle;
    border: none;
}

table th,
table td {
    padding: 10px 8px;
    font-size: 13px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info i {
    color: #3b82f6;
    background: #eff6ff;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-weight: 600;
    color: #111827;
}

.active-badge {
    background: #ecfdf5 !important;
    color: #10b981 !important;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: none;
}

.inactive-badge {
    background: #fee2e2 !important;
    color: #ef4444 !important;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: none;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;

}

.pagination-info {
    color: #6b7280;
    font-size: 14px;

}

.pagination {
    margin: 0;
}

.page-item {
    margin: 0 3px;
}

.page-link {
    color: #374151;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    background: white;
}

.page-link:hover {
    background-color: #f3f4f6;
    border-color: #9ca3af;
}

.page-item.active .page-link {
    background-color: #268a68;
    border-color: #10b981;
    color: white;
}

.page-item.disabled .page-link {
    color: #9ca3af;
    background-color: #f9fafb;
    border-color: #e5e7eb;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .pagination-container {
        flex-direction: column;
        align-items: stretch;
    }

    .pagination-info {
        text-align: center;
        margin-bottom: 10px;
    }

    .pagination {
        justify-content: center;
    }

    tbody td,
    thead th {
        padding: 12px 8px;
    }
}

.orange-badge {
    background: #fff4e6 ;
    color: #f97316 ;
}

.purple-badge {
    background: #f3e8ff ;
    color: #8b5cf6 ;
}